html { 
    font-size: 22px;
    background-color: rgb(228, 205, 211);
    font-family: 'Nanum Pen Script', cursive;
}

body { padding: 1rem; }

/*  */

#centerme {
    margin-bottom: 1rem;
    text-align: center;
}

#centerpls {
    text-align: center;
}
/*  */

.daysheader {
    text-align: center;
    text-decoration: underline;
}

.daystext {
    text-align: center;
}

.daysimg {
    margin: auto;
    height: 250px;
    width: 250px;
}




.test {
    display: flex;
    justify-content: center;
    align-items: center;
}






p { 
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 







/* cards */
#card1 {

    background: rgb(94,8,30);
    background: linear-gradient(90deg, rgba(94,8,30,1) 0%, rgba(181,26,58,1) 35%, rgba(226,71,103,1) 100%);
}
#card2 {
    background: rgb(157,21,31);
    background: linear-gradient(90deg, rgba(157,21,31,0.8337710084033614) 12%, rgba(212,39,74,1) 40%, rgba(240,77,111,0.9009978991596639) 100%);
}
#card3 {
    background: rgb(181,26,58);
    background: linear-gradient(90deg, rgba(181,26,58,0.8337710084033614) 12%, rgba(255,58,99,1) 40%, rgba(247,132,156,0.9009978991596639) 100%);
}
#card4 {
    background: rgb(224,70,102);
    background: linear-gradient(90deg, rgba(224,70,102,0.8337710084033614) 12%, rgba(255,133,158,1) 40%, rgba(255,181,196,0.9009978991596639) 100%);
}
#card5 {
    background-color: rgb(228, 131, 151);
}

.card {
    color: white;
    padding: 2rem;
    height: 10rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}






/* buttons */
a.button1 {
    display:inline-block;
    padding:0.25em 0.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
}

@media all and (max-width:30em){
a.button1{
    display:block;
    margin:0.4em auto;
    }
}
#recording {
    float: right;
}

.heart {
    z-index : 999;
    position : absolute;
}
.heart:before,
.heart:after {
    content : "";
    background-color : #fc2a62;
    position : absolute;
    height : 30px;
    width : 45px;
    border-radius : 15px 0px 0px 15px;
}
.heart:before {
    transform : rotate(45deg);
}
.heart:after {
    left : 10.5px;
    transform : rotate(135deg);
}
@keyframes heartfade {
    0% {
     opacity : 1;
    }
    50% {
     opacity : 0;
    }
}
.heart {
    z-index : 999;
    animation : heartfade 6s linear;
    position : absolute;
}
